/***************************************************************************************************************************************/

/*Body*/

body, div{
    margin: 0;
    font-family: Roboto;
}

.container{
    display: flex;
    flex-direction: row;
}

/***************************************************************************************************************************************/

/*Columna Chat */

.chat{
    background-color: white;
    width: 20em;
    min-height: 100vh;
}


/*Caja de el perfil del usuario*/

.box_perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    border: 1px solid #bec1bb;
}

.perfil img{
    width: 65px;
    height: 65px;
    border-radius: 100%; 
}

.perfil{
    display: flex;
    align-items: center;
    padding: 5px;
}

.nombre_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2vh;
}

.nombre_perfil h5,p{
    margin: 0;
}

.nombre_perfil p{
    font-size: x-small;
}

.box_icon {
    width: 5vw;
    display: flex;
    justify-content: space-evenly;
}

/*Caja de Boton*/

.box_button{
    
    display: flex;
    justify-content: center;
    padding: 10%;
    border: 1px solid #bec1bb;
}

.box_button button{
    background-color: #a491d2;
    color: #e8ebe4;
    width: 165px;
    height: 45px; 
    border: transparent;
}

/*Cajas de los chats*/

.box_chat img{
    width: 55px;
    height: 55px;
    border-radius: 100%; 
}

.box_chat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    border: 1px solid #bec1bb;
    padding: 2.5%;
    padding-left: 5%;
}

.box_chat h4{
    margin: 0;
}

.box_contactos{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}


/***************************************************************************************************************************************/

/*nertworking*/

.nertworking{
    background-color: #E8EBE4;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-grow: 1;

}

.nertworking img{
    width: 250px;
    height: 250px;
}

.nertworking p {
    max-width: 800px;
    min-width:300px;
    width: 50%;
  }

/***************************************************************************************************************************************/

